# Secret key for session encryption
FLASK_SECRET_KEY=my-secret-key-change-this-in-production

# Default timezone for date/time
DEFAULT_TIMEZONE=Pacific/Auckland

# Local DB file path
LOCAL_DB_PATH=app/db/data.sqlite

# Flask host and port
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000

# Flask debug mode
FLASK_DEBUG=True

# Console output width
COLUMNS=100
