{% extends "pages/_base.jinja" %}

{% block title %}
    - Page Not Found (404)
{% endblock %}

{% block content %}
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/" role="button">← Home</a>
{% endblock %}