{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Report Writing Generator {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/note.svg">

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    {# Show flash messages from any previous events
    {% include "partials/messages.jinja" %} #}

    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>

