{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
  <header>
    <h1> Import Student Data </h1>
  </header>

    <section id="import">

    </section>

{% endblock %}

