{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
  <header>
    <h1> Report Writing Generator </h1>
  </header>

  <nav>
    <a>
      </a>

  </nav>

    <section id="home">

    </section>

{% endblock %}

