{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
  <header>
    <h1> Report Preview </h1>
  </header>

    <section id="report-preview">

    </section>

{% endblock %}

