/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text: #ecebea;
    --background: #100c0a;
    --primary: #e0af9e;
    --secondary: #9c3c16;
    --accent: #fe5410;

}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--background);
    color: var(--text);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Notes --------------------------------------------------*/


